<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <br>
        My name is Devanshi Harsora. <br>
        I have created Weather App.
    </div>
    
</body>

</html>